
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.App-header {
  background: url(obraz-przedstawiajacy-gorskie-jezioro-z-gora-w-tle.jpg) no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.wyl {
  animation:  transitionIn 2.5s;
  width: auto;
  margin: auto;
  align-items: center;
}

.Nag { 
  color: white;
  text-shadow: #050505 4px 4px;
  font-family: "Times New Roman", Gadget, sans-serif;
  position: relative;
  bottom: 80%;

}

.test {
  width: 60%;
  height: 650px;
  background-color: wheat;
  padding: 10px;
  text-align: center;
  margin: auto;
  
}

.toggle-button{
  font-family: Nunito;
  font-weight: 600;
  font-size: 20px;
  color: #dce1e3;
  background: linear-gradient(90deg, #f26602 0%, #0a0a0a 100%);
  padding: 10px 30px;
  border: solid #264653 1px;
  box-shadow: rgb(0, 0, 0) 1px 10px 20px 4px;
  border-radius: 50px;
  transition : 1048ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer; 
  position: relative;

  }
  
  .toggle-button:hover{
  transition : 1048ms;
  padding: 10px 50px;
  transform : translateY(-0px);
  background: linear-gradient(90deg, #f26602 0%, #0a0a0a 100%);
  color: #ffffff;
  border: solid 1px #ffffff;
  }
  
  

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}
  